<div class="centered-wrapper">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Inventra</mat-card-title>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <!-- <mat-grid-list cols="4" rowHeight="1:1">
        @for (tile of tiles; track tile) {
        <mat-grid-tile 
        [colspan]="tile.cols" 
        [rowspan]="tile.rows"
        [style.background-color]="tile.color"
        [style.background-image]= "'url(' + tile.image + ')'"
        >{{tile.text}}</mat-grid-tile>
        }
      </mat-grid-list> -->

      <mat-grid-list cols="2" rowHeight="1:1"> 
        <mat-grid-tile class="grid-part-11">

          <div class="grid-img-1">
            <img src="../../../assets/Images/reg_background.png">
          </div>
        </mat-grid-tile>

       <router-outlet></router-outlet>>
      </mat-grid-list>

    </mat-card-content>
    <!-- <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions> -->
  </mat-card>
</div>