<mat-grid-list cols="2" gutterSize="1px">
  <mat-grid-tile class="grid-img-1" [style.background-image]="'url(assets/Images/reg_background.png)'">
    <!-- left tile: decorative image/background -->
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="outer-form">
      <form [formGroup]="RegistrationForm" (submit)="submitForm()">

        <h1>Create an Account</h1>
        <div class="form-details">
          <!-- //Full name -->
          <mat-form-field hintLabel="Max 15 characters">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" maxlength="15" placeholder="Ex. Avinash" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint align="end">{{RegistrationForm.get('name')?.value?.length || 0}}/15</mat-hint>
          </mat-form-field>

          <!-- //Phone number -->
          <mat-form-field hintLabel="Max 10 numbers">
            <mat-label class="phone-label">Phone Number</mat-label>
            <span matTextPrefix>+91 &nbsp;</span>
            <input type="text" formControlName="phone" maxlength="10" matInput placeholder="7091206161" />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint align="end">{{RegistrationForm.get('phone')?.value?.length || 0}}/10</mat-hint>
          </mat-form-field>

          <!-- Address -->
          <mat-form-field hintLabel="Max 100 characters">
            <mat-label>Full Address</mat-label>
            <input matInput formControlName="address" maxlength="100" placeholder="Lai" />
            <mat-icon matSuffix>home</mat-icon>
            <mat-hint align="end">{{RegistrationForm.get('address')?.value?.length || 0}}/100</mat-hint>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide() ? 'password' : 'text'" />
            <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <!-- Submit button -->
          <div class="example-button-row">
            <button matButton="filled"><mat-icon matPrefix>arrow_forward</mat-icon>Create Account</button>
          </div>

          <div class="login">
            <p>Already have an account? <span (click)="login()">Login</span></p>
          </div>
        </div>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>