<mat-drawer-container class="example-container">
    <!-- @for(item of drawerHeaders;track item)
  {
    <mat-drawer mode="side" opened>{{item}}</mat-drawer>
} -->
    <mat-drawer mode="side" opened>
        <div class="menu-item">
            <!-- <mat-icon>dashboard</mat-icon>
  <span>Dashboard</span> -->
            <div class="menu-item-buttons">
                @for(item of drawer;track item)
                {
                <button mat-button>
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.name}}</span></button>
                }
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content>

        <div class="header">
            <div class="homepage-content-container">
                <div rowHeight="fit">
                    <div class="header-summary">

                        <div class="header-summary-details">
                            <button mat-icon-button>
                                <mat-icon>menu</mat-icon>
                            </button>
                            <div class="welcome-user">
                                <mat-card-title>Dashboard</mat-card-title>
                                <mat-card-subtitle>Welcome back, Admin!</mat-card-subtitle>
                            </div>

                        </div>

                        <div class="header-user-details">
                            <div class="date-picker">
                                <mat-icon>calendar_today</mat-icon>
                                <span>{{ selectedDate | date:'dd MMM yyyy' }}</span>
                                <mat-icon class="dropdown-icon">
                                    keyboard_arrow_down
                                </mat-icon>
                            </div>
                            <mat-datepicker #picker (dateChange)="onDateChange($event)"></mat-datepicker>

                            <button mat-icon-button>
                                <mat-icon>notifications</mat-icon>
                            </button>
                            <mat-card-header>
                                <div class="profile-card">
                                    <img mat-card-image
                                        src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
                                        alt="Profile" />
                                </div>
                                <div class="profile-card-text">
                                    <mat-card-title>Admin User</mat-card-title>
                                    <mat-card-subtitle>Administrator</mat-card-subtitle>

                                </div>
                                <mat-icon class="dropdown-icon">
                                    keyboard_arrow_down
                                </mat-icon>
                            </mat-card-header>
                        </div>

                    </div>
                </div>
                <div rowHeight="150px">
                    <div class="summary-cards">
                        @for(item of summaryCard; track item)
                        {
                        <mat-card class="summary-card">
                            <div class="card-top">

                                <div class="icon-circle green">
                                    <mat-icon>{{item.iconname}}</mat-icon>
                                </div>

                                <div class="card-content">
                                    <div class="title">{{item.title}}</div>
                                    <div class="value">{{item.value}}</div>
                                </div>

                            </div>

                            <div class="status positive">
                                <mat-icon>{{item.statusIcon}}</mat-icon>
                                {{item.statusDetails}}
                            </div>
                        </mat-card>
                        }
                    </div>
                </div>
                <div>
                    <div class="chart-row">
                        <mat-card class="overview-card">
                            <canvas baseChart [data]="businessOverviewData" [type]="'doughnut'">
                            </canvas>
                        </mat-card>

                        <mat-card class="recovery-card">
                            <!-- Bar Chart -->
                            <div class="chart-header">
                                <h3>Recovery Overview (This Month)</h3>

                                <mat-form-field appearance="outline">
                                    <mat-select value="month">
                                        <mat-option value="month">
                                            This Month
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <canvas baseChart [data]="recoveryData" [options]="barChartOptions" [type]="'bar'">
                            </canvas>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>